*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0a0a0a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:25px 10%;
background:#111;
position:sticky;
top:0;
z-index:100;
}

.logo{
color:#f5b301;
font-size:24px;
font-weight:700;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
min-height:100vh;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 10%;
}

.hero-text{
max-width:600px;
}

.hero h1{
font-size:64px;
}

.hero h2{
color:#f5b301;
margin:10px 0;
}

.hero-image img{
width:320px;
height:320px;
object-fit:cover;
border-radius:50%;
border:5px solid #f5b301;
}

.buttons{
margin-top:25px;
}

.btn1,.btn2{
padding:12px 25px;
display:inline-block;
margin-right:10px;
border-radius:10px;
text-decoration:none;
}

.btn1{
background:#f5b301;
color:black;
}

.btn2{
border:1px solid #f5b301;
color:#f5b301;
}

section{
padding:100px 10%;
}

section h2{
margin-bottom:30px;
color:#f5b301;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:#111;
padding:15px;
border-radius:15px;
}

.card img{
width:100%;
height:180px;
object-fit:cover;
border-radius:10px;
}

.skill-list{
display:flex;
flex-wrap:wrap;
gap:15px;
}

.skill-list span{
padding:10px 20px;
border:1px solid #f5b301;
border-radius:30px;
}

footer{
text-align:center;
padding:30px;
background:#111;
}
